<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://samdos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>samdos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>samdos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$samdos</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Samdos.Models.DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-west-c.cloudapp.net;Initial Catalog=acsm_3989937d1534b36;User ID=bb2422dd47a736;Password=dabf48d9" Name="Database=acsm_3989937d1534b36;Data Source=us-cdbr-azure-west-c.cloudapp.net;User Id=bb2422dd47a736;Password=dabf48d9" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Samdos.Models.DataContext, Samdos" MigrationConfiguration="Samdos.Models.DataContext+MyConfiguration, Samdos" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Samdos.Models.DataContext-Web.config Connection String">
      <ParameterValue>Database=acsm_3989937d1534b36;Data Source=us-cdbr-azure-west-c.cloudapp.net;User Id=bb2422dd47a736;Password=dabf48d9</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Samdos.Models.DataContext" />
  </ItemGroup>
</Project>