body {
}

#headerBar {
    background-color:#FFA000;

}

body{
    background-color:#ededed;
}
.spaced-table>tbody>tr>td{
    padding: 20px 10px;
    
}

.spaced-table{
    margin-top:20px;
}
.btn-bar{
    background-color:#FFA000;
    display: block;
    width:100%;
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    border-right-color:red;
    border-right-style:solid;
    border-right-width:1.5px;
    
}

button:hover {
    color:white;
    background-color:#FF5252;
}

.shadow{
    box-shadow: 10px 0 10px #696969;
}
.topshadow{
    box-shadow: 10px 0 10px #696969;
}


.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nopadding{
    padding-bottom:0;
    padding-top:0;
    padding-left:0;
    padding-right:0;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
  padding-left:0;
  padding-right:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}



#logoImage{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 25%;
    min-width: 220px;
}

.halfHeight{
    width:100%;
    height:50vh;
}


.container-no-padding{
    padding-left :0px;
    padding-right:0px;
}


.paragraph-rounded-box{
    background-color:white;
    border-radius:4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-left:20px;
    padding-right:20px;
}

.light-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.hackerButton{
    background:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-width:0px;
    border-radius:4px;
    margin-right:5px;

}

.ghostButton{
    background:white;
    border-width:0px;
    border-radius:4px;
    margin-left:20px;
}

.formMargins{
    margin-bottom:5px;
    margin-top:5px;
    margin-left:20px;
    margin-right:50px;

}

/*Written ruby Florian Kutschera.
 https://gist.github.com/gefangenimnetz/3ef3e18364edf105c5af.js 

.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

    */


.special-grid{

     display: flex; 
     justify-content: center;           
     flex-wrap: wrap;         
    
}

.special-item{
    display:flex;
    width:27%;
    background-color:white;
    
    margin: 1em 0 0 1em; padding: 1em;

    border-radius:4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-left:20px;
    padding-right:20px;


}

.special-item-content{
    flex:1;
}

.special-image{
    width:100px;
    height:200px;
    margin-right:1em;
    object-fit: cover;


}

